html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#butWrap {
    margin: 0px auto;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.pad {
    margin: 0 auto;
    padding-left: 6px;
    padding-top: 6px;
    border: 10px solid #0056CF;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

//get rid of the REALLY UGLY GREY DOTTED LINE THAT FIREFOX OTHERWISE INSISTS ON SHOWING ON :ACTIVE
button::-moz-focus-inner {
    border: 0;
}

button {
    outline: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font: 20px "Helvetica", sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    margin: 0px auto;
    width: 6em;
    height: 3em;
    background: #0056CF;
    //margin-top: 5px;
    cursor: pointer;

    border: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
   
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

button:hover {
    border: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

button:active {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#formWrap {
    width: 100%;
    height: auto;
    text-align: center;
}

#form {
    width: auto; 
    height: auto; 
    margin: 0 auto;
}

input {
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;

    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;

    border:1px solid rgba(0,0,0, 0.2);
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
}
